*{
  box-sizing: border-box;
}

#content-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  border: 1px solid red;
}

/*all imgs*/
img{
  width: 25px;
  height: 25px;
}
h3{
  font-size: 12px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


